@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;500;600;700;800;900&display=swap");

:root {
  --bg-color: #ffba08;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
  list-style: none;
  text-decoration: none;
}

.menu {
  max-width: 1300px;
  margin: 0 auto;
  width: 100%;
  padding: 20px 0;
  min-height: 100vh;
  display: flex;
  gap: 40px;
}

.data-menu {
  width: 800px;
  box-shadow: 2px -1px 18px 3px rgba(91, 91, 91, 0.227);
  border-radius: 10px;
}
.keranjang {
  width: 500px;
  height: fit-content;
  box-shadow: 2px -1px 18px 3px rgba(91, 91, 91, 0.227);
  border-radius: 10px;
}

.title-data,
.title-keranjang {
  background-color: var(--bg-color);
  padding: 16px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.title-data h3,
.title-keranjang h3 {
  display: flex;
  align-items: center;
  color: white;
  font-size: 16px;
  font-weight: 800;
}

.bx-food-menu,
.bx-basket {
  font-size: 20px;
  margin-right: 10px;
}

.menu-list {
  padding: 8px;
  display: flex;
  flex-direction: column;
}

.menu-search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.menu-kategori {
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

select {
  width: 100%;
  height: 35px;
  border-radius: 6px;
  font-size: 16px;
  padding: 0 5px;
  font-weight: 600;
  border: 2px solid gray;
  color: gray;
}

.search {
  flex: 1;
  display: flex;
  align-items: center;
  /* gap: 5px; */
}

#searchItem {
  width: 100%;
  height: 35px;
  border-radius: 6px;
  font-size: 16px;
  padding: 0 10px;
  font-weight: 600;
  border: 2px solid gray;
  color: gray;
  outline: gray;
  margin-right: 5px;
}

#searchItem::placeholder {
  color: gray;
}
.icon-search {
  background-color: #008777;
  color: white;
  border-radius: 6px;
  width: 50px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bx-search-alt {
  font-size: 25px;
}

.menu-data {
  padding: 16px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
}

.menu-data-list {
  box-shadow: 2px -1px 20px 3px rgba(91, 91, 91, 0.188);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;

  text-align: center;
}

.menu-gambar img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
}

.menu-title h2 {
  font-size: 16px;
  letter-spacing: 0.5px;
  margin-bottom: 5px;

  color: rgb(50, 50, 50);
}

.menu-title p {
  color: gray;
  font-weight: 500;
  font-size: 14px;
  margin-bottom: 10px;
}

.btn-tambah {
  background-color: var(--bg-color);
  border: none;
  width: 130px;
  height: 30px;
  font-weight: 600;
  border-radius: 6px;
  color: white;
  cursor: pointer;
}

.keranjang-list {
  display: flex;
  flex-direction: column;
  padding: 16px;
  width: 100%;
}

.kernjang-data {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  box-shadow: 5px 5px 20px rgba(91, 91, 91, 0.188);
  padding: 10px 20px;
  border-radius: 10px;
}
.keranjang-hapus {
  width: 45px;
  height: 45px;
  border-radius: 50px;
  box-shadow: 2px 2px 12px rgba(91, 91, 91, 0.188);
  display: flex;
  align-items: center;
  justify-content: center;
}

.bx-trash {
  font-size: 26px;
  color: red;
}

.keranjang-gambar img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 50%;
}

.keranjang-bayar {
  display: flex;
  flex-direction: column;
  padding: 16px;
}

.total {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
  margin-bottom: 20px;
}

.total p {
  font-size: 20px;
  font-weight: 800;
}

.btn-bayar {
  height: 45px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
  background-color: var(--bg-color);
  color: white;
  cursor: pointer;
}

.berhasil {
  position: fixed;
  display: none;
  align-items: center;
  justify-content: center;
  background-color: rgba(91, 91, 91, 0.459);
  width: 100%;
  min-height: 100vh;
}

.berhasil-content {
  background-color: white;
  box-shadow: 5px 5px 20px rgba(226, 226, 226, 0.188);
  padding: 30px 80px;
  border-radius: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.berhasil-content h2 {
  color: gray;
  letter-spacing: .3px;
}

.berhasil-content a{
  height: 40px;
  line-height: 40px;
  color: white;
  font-size: 16px;
  font-weight: 600;
  border-radius: 6px;
  background-color: var(--bg-color);
}

.bx-check {
  font-size: 200px;
  color: var(--bg-color);
  margin-top: -24px;
}
