@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;500;600;700;800;900&display=swap");

:root {
  --bg-color: #ffba08;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
  list-style: none;
  text-decoration: none;
}

.menu {
  max-width: 1300px;
  margin: 0 auto;
  width: 100%;
  padding: 20px 0;
  min-height: 100vh;
  display: flex;
  gap: 40px;
}

.data-menu {
  width: 800px;
  box-shadow: 2px -1px 18px 3px rgba(91, 91, 91, 0.227);
  border-radius: 10px;
}
.keranjang {
  width: 500px;
  box-shadow: 2px -1px 18px 3px rgba(91, 91, 91, 0.227);
  border-radius: 10px;
}

.title-data,
.title-keranjang {
  background-color: var(--bg-color);
  padding: 16px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.title-data h3,
.title-keranjang h3 {
  display: flex;
  align-items: center;
  color: white;
  font-size: 16px;
  font-weight: 800;
}

.bx-food-menu,
.bx-basket {
  font-size: 20px;
  margin-right: 10px;
}

.menu-list {
  padding: 8px;
  display: flex;
  flex-direction: column;
}

.menu-search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.menu-kategori {
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

select {
  width: 100%;
  height: 35px;
  border-radius: 6px;
  font-size: 16px;
  padding: 0 5px;
  font-weight: 600;
  border: 2px solid gray;
  color: gray;
}

.search {
  flex: 1;
  display: flex;
  align-items: center;
  /* gap: 5px; */
}

#searchItem {
  width: 100%;
  height: 35px;
  border-radius: 6px;
  font-size: 16px;
  padding: 0 10px;
  font-weight: 600;
  border: 2px solid gray;
  color: gray;
  outline: gray;
  margin-right: 5px;
}

#searchItem::placeholder{
    color: gray;
}
.icon-search{
    background-color: #008777;
    color: white;
    border-radius: 6px;
    width: 50px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bx-search-alt{
    font-size: 25px;
}